body{
  font-family: Montserrat, sans-serif;
  background: #fff;
}
.container{
  user-select: none;
  margin: 100px auto;
  background: #fff;
  color: rgba(0, 0, 0, 0.573);
  border-radius: 5px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}
.cover-photo{
  background: url(https://res.cloudinary.com/dis1rlog3/image/upload/v1741589749/black-backgrounds-free-photo_qzhzen.jpg);
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0px 0px -175px;
  border: 1px solid #f0f0f0;
  padding: 7px;
  background: #f0f0f0;
}
.profile-name{
  font-size: 18px;
  font-weight: bold;
  margin: 27px 0px 0px 120px;
}
.about{
  margin-top: 35px;
  line-height: 21px;
}
.button{
  margin: 10px 0px 40px 0px;
}
.msg-btn, .follow-btn{
  background: #889297;
  border: 1px solid #151c1c;
  padding: 10px 25px;
  color: #151c1c;
  border-radius: 3px;
  cursor: pointer;
}
.follow-btn{
  margin-left: 10px;
  background: transparent;
  color: #151c1c;
}
.follow-btn:hover{
  background: #889297;
  color: #151c1c;
  transition: 0.5s;
}
.container i{
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.container i:hover{
  color: #151617;
}
